{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/label/macro.njk" import govukLabel %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}

{% from "components/timePicker/timePicker.njk" import timePicker %}
{% from "components/datePicker/datePicker.njk" import datePicker %}


{% macro dateTimeAndCourtBriefingPicker(formValues) %}

    {{ datePicker({
                    id: 'date',
                    label: 'Date',
                    name: 'date',
                    date: formValues.date,
                    errorMessage: errors | findError('date'),
                    attributes: {'data-disable-past-date':'true', 'data-add-appointment-date': 'true'}
                }) }}


    {{ timePicker({
                    id: 'start-time',
                    label: 'Court hearing start time',
                    name: 'startTime',
                    hour: formValues.startTimeHours,
                    minute: formValues.startTimeMinutes,
                    errorMessage: errors | findError('start-time-hours')
                }) }}

    {{ timePicker({
                    id: 'end-time',
                    label: 'Court hearing end time',
                    name: 'endTime',
                    hour: formValues.endTimeHours,
                    minute: formValues.endTimeMinutes,
                    errorMessage: errors | findError('end-time-hours')
                }) }}

    {{ govukRadios({
                    classes: "govuk-radios--inline",
                    idPrefix: "pre-appointment-required",
                    name: "preAppointmentRequired",
                    errorMessage: errors | findError('pre-appointment-required'),
                    fieldset: {
                        legend: {
                            text: "Do you want to add a pre-court hearing briefing?",
                            classes: "govuk-fieldset__legend--s"
                        }
                    },
                    items: [
                        {
                            value: "yes",
                            text: "Yes",
                            checked: formValues.preAppointmentRequired == 'yes'
                        },
                        {
                            value: "no",
                            text: "No",
                            checked: formValues.preAppointmentRequired == 'no'
                        }
                    ]
                }) }}

    {{ govukRadios({
                    classes: "govuk-radios--inline",
                    idPrefix: "post-appointment-required",
                    name: "postAppointmentRequired",
                    errorMessage: errors | findError('post-appointment-required'),
                    fieldset: {
                        legend: {
                            text: "Do you want to add a post-court hearing briefing?",
                            classes: "govuk-fieldset__legend--s"
                        }
                    },
                    items: [
                        {
                            value: "yes",
                            text: "Yes",
                            checked: formValues.postAppointmentRequired == 'yes'
                        },
                        {
                            value: "no",
                            text: "No",
                            checked: formValues.postAppointmentRequired == 'no'
                        }
                    ]
                }) }}

{% endmacro %}
