<header class="header" role="banner">
  <div class="header__container">
    <div class="header__title">
      <a class="header__link header__title__organisation-name" href="/">
         <div class="header__logo"><img src="/images/crest.svg" alt="crest"></div>
        HMPPS
      </a>

      <a class="header__link header__title__service-name" href="/">Book a video link with a prison</a>
    </div>

    <nav aria-label="Account navigation">
      <ul class="header__navigation">
        <li class="header__navigation__item">
              <a class="header__link" href="{{ authUrl + 'account-details' }}?redirect_uri={{ user.returnUrl | urlencode }}&client_id={{ user.clientID }}" 
              data-qa="manage-account-link">
            <span data-qa="logged-in-name">{{ user.displayName }}</span>
            <span class="header__link__sub-text">Manage your details</span>
          </a>
        </li>

        <li class="header__navigation__item">
          <a class="header__link" href="/auth/logout">Sign out</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
