{% extends "./partials/layout.njk" %}
{% from "./components/card/card.njk" import card %}

{% set title = "Book a video link with a prison" %}

{% block main %}
    <div class="govuk-width-container">
        <h1 class="govuk-heading-l govuk-!-margin-top-7">{{ title }}</h1>
        <p class="govuk-body govuk-!-margin-bottom-7">If you work in a court, you can book a video link with a prison for a court appearance.</p>
    </div>

    <div class="homepage-content">
        <div class="govuk-width-container">
            <ul class="govuk-grid-row card-group">
                <li class="govuk-grid-column-one-third card-group__item">
                    {{ card({
              "href": '/prisoner-search',
              "clickable": "true",
              "heading": 'Book a new video link',
              "description": 'Create a new video link booking between a court and a prison.',
              "data-qa": "bookings-link"
            }) }}
                </li>

                <li class="govuk-grid-column-one-third card-group__item">
                    {{ card({
              "href": '/bookings',
              "clickable": "true",
              "heading": 'View and change video links',
              "description": 'You can view and change existing video link bookings for your courts.',
              "data-qa": "appointments-link"
            }) }}
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block pageScripts %}
    <script src="/js/card.js"></script>
{% endblock %}
