{% extends "../partials/layout.njk" %} 
{% from "govuk/components/button/macro.njk" import govukButton %} 
{% from "govuk/components/panel/macro.njk" import govukPanel %} 
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %} {% set mainClasses = "govuk-main-wrapper--l" %} 
{% set title = "This videolink booking has been deleted" %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    {{
      govukPanel({
        titleText: title,
        classes: 'govuk-!-margin-bottom-9'
      })
    }}

    <p class="govuk-body">We have sent you an email confirming deletion. An email has also been sent to the prison.</p>
  </div>
</div>

<p class="govuk-body">
  <a href="/prisoner-search?prisonNumber={{offenderNo}}" class="govuk-link" data-qa="add-appointment">Book another video link for {{offenderName}} </a>
</p>


{{
  govukButton({
    text: 'Exit',
    element: 'a',
    href: '/',
    classes: 'govuk-button--primary',
    attributes: {
      'data-qa': 'back-to-video-link'
    }
  })
}}
{% endblock %}
