{% extends "../partials/layout.njk" %} 
{% from "govuk/components/button/macro.njk" import govukButton %} 
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %} 
{% from "govuk/components/radios/macro.njk" import govukRadios %} 
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% set title = "The video link date and time is available" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{ title }}</h1>
  </div>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{
        govukSummaryList({
          classes: 'govuk-summary-list--no-border',
          rows: bookingDetails.details | toSummaryViewModel | removePaddingBottom
        })
      }}
    </div>
  </div>
  
  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      {{govukSummaryList({
          classes: 'govuk-summary-list--no-border',
          rows: bookingDetails.hearingDetails | toSummaryViewModel | removePaddingBottom 
      })
      }}
  </div>
  </div>

  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      {{
      govukSummaryList({
          classes: 'govuk-summary-list--no-border',
          rows: bookingDetails.prePostDetails | toSummaryViewModel | removePaddingBottom
      })
      }}
  </div>
  </div>
  {{ govukInsetText({
      text: "Next you need to select the video link rooms in the prison."
  }) }}

  {{ govukButton({ text: "Continue", type: "submit", href: "/select-available-rooms/" + bookingDetails.videoBookingId, attributes: { 'data-qa': 'continue' } }) }}

{% endblock %}
