{% extends "../partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% set title = "Manage your list of courts" %}

{% block content %}

{% from "govuk/components/accordion/macro.njk" import govukAccordion %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errors.length > 0 %}
        {{
          govukErrorSummary({
            titleText: 'There is a problem',
            errorList: errors,
            attributes: { 'data-qa-errors': true }
          })
        }}
      {% endif %}

      <h1 class="govuk-heading-l">{{title}}</h1>

      <p class="govuk-body">If you select one court, this court will be used for all future bookings you make. If you select more than one court, you can select from these courts each time you make a booking.</p>
      <p class="govuk-body">You can change your list of courts in the 'Manage your list of courts' section.</p>

      <p class="govuk-body-l">
        <strong>Courts by A-Z</strong>
      </p>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="POST" novalidate="novalidate">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
          {% for letter, courtList in courts %}
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-{{letter}}">
                    {{letter}}
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-{{letter}}" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-{{letter}}">
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset" aria-describedby="court-hint">
                    <div class="govuk-checkboxes">
                      {% for item in courtList %}
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="court-{{item.agencyId}}" name="courts[]" type="checkbox" value="{{item.description}}">
                          <label class="govuk-label govuk-checkboxes__label" for="court-{{item.agencyId}}">
                            {{ item.description }}
                          </label>
                        </div>
                      {% endfor %}
                    </div>
                  </fieldset>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>

        {{ govukButton({ 
            text: 'Confirm', 
            type: 'submit',      
            attributes: {
            'data-qa': 'confirm'
            } 
          }) 
        }}
      </form>
    </div>
  </div>

{% endblock %}